<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pembelian</title>
</head>
<body>
    <h1>Pembelian</h1>
    <table>
        <tr>
            <th>ID Supplier</th>
            <th>Nama Apoteker</th>
            <th>Tanggal Pembelian</th>
            <th>Action</th>
        </tr>
        {% for item in allpembelianobj %}
        <tr>
            <td>{{ item.namaapoteker}}</td>
            <td>{{ item.tanggalpembelian}}</td>
            <td>
                <a href="{% url 'updatepembelian' item.idpembelian %}"><button>Update</button></a>
                <a href="{% url 'deletepembelian' item.idpembelian %}"><button>Delete</button></a>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>