<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>Penjualan</title>
</head>
<body>
    <h1>Penjualan</h1>
    <table>
        <tr>
            <th>Nama Apoteker</th>
            <th>Nama Pelanggan</th>
            <th>Tanggal Transaksi</th>
            <th>Action</th>
        </tr>
        {% for item in allpenjualanobj %}
        <tr>
            <td>{{ item.namaapoteker}}</td>
            <td>{{ item.namapelanggan }}</td>
            <td>{{ item.tanggaltransaksi}}</td>
            <td>
                <a href="{% url 'updatepenjualan' item.idpenjualan %}"><button>Update</button></a>
                <a href="{% url 'deletepenjualan' item.idpenjualan %}"><button>Delete</button></a>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>