<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Supplier</title>
</head>
<body>
    <h1>Supplier</h1>
    <table>
        <tr>
            <th>Nama Supplier</th>
            <th>Alamat</th>
            <th>No Hp</th>
            <th>Action</th>
        </tr>
        {% for item in allsupplierobj %}
        <tr>
            <td>{{ item.namasupplier}}</td>
            <td>{{ item.alamat}}</td>
            <td>{{ item.nohp}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>