<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Penjualan</title>
</head>
<body>
    <h1>Update Supplier </h1>
    <form action="" method="post">
        {% csrf_token %}
        <table>
            <tr>
                <th>Nama Supplier</th>
                <td>
                    <input required type="text" name="namasupplier" value="{{supplierobj.namasupplier}}">
                </td>
            </tr>
            <tr>
                <th>Alamat</th>
                <td>
                    <input required type="text" name="alamat" value="{{supplierobj.alamat}}" >
                </td>
            </tr>
            <tr>
                <th>No Hp</th>
                <td>
                    <input required type="number" name="nohp" value="{{supplierobj.nohp}}">
                </td>
            </tr>
            </table>
            <button type="submit" >Update</button>
    </form> 
</body>
</html>