<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Pembelian</title>
</head>
<body>
    <h1>Update Data </h1>
    <form action="" method="post">
        {% csrf_token %}
        <table>
            <tr>
                <th>Nama Supplier</th>
                <td>
                    <select name="idsupplier" id = ''>
                        {% for item in datasupplier %} 
                        <option value="{{item.idsupplier}}">{{item.namasupplier}}</option>
                        {% endfor %} 
                    </select>
                </td>
            </tr>
            <tr>
                <th>Nama Apoteker</th>
                <td>
                    <input required type="text" name = "namaapoteker" value="{{pembelianobj.namaapoteker}}">
                </td>
            </tr>
            <tr>
                <th>Tanggal Pembelian</th>
                <td>
                    <input required type="date" name="tanggalpembelian" value="{{tanggal}}">
                </td>
            </tr>
            </table>
            <button type="submit" >Update</button>
</body>
</html>